.containerIz{
    background-color: rgb(245, 245, 245);    
}



.firstCardAsideIzq{
    background-color: rgb(250, 250, 250);
    border-radius: 6px;
}

.firstCardAsideIzq h5 b{
    color: rgba(47, 58, 178, 1);
}

.firstCardAsideIzq button{
    @include styleButton();
     
}

.firstCardAsideIzq button:hover{
    text-decoration:underline;
}

.aiFB{
    text-align: center;
}



.firstCardAsideIzq a{
    text-decoration: none;
    color: black;
}


.aiFR:hover{
    text-decoration: underline;
    border: 1px solid rgba(47, 58, 178, 0.2);
    background-color: rgba(47, 58, 178, 0.2);
    border-radius: 6px;
}

ul li{
    background-color: transparent !important; 
    border: none !important;
    text-decoration: none !important;
    text-decoration: none !important;
}

a{
    text-decoration: none !important;
}

.flg a:hover{
    @include efectoslistas();
}

.slg a:hover{
    @include efectoslistas();
}

#contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contacto img{
    width: 23px;
}
