footer{
    text-align: center;
    background-color: gray;
}

footer span:nth-child(1){
    color: blue;
}

footer span:nth-child(5){
    color: blue;
}

footer span:nth-child(9){
    color: blue;
}

footer span:nth-child(13){
    color: blue;
}